doctype html
html
  head
    title TheInteriors
    block scripts
    block style 
  body
    nav#navbar
      div#logo
          img(src="../static/logo3.png", alt="") 
      ul
        li #[a(href ="/") Home] 
        li #[a(href ="/contact") Contact us] 
        li #[a(href ="/") Services ]
        li #[a(href ="/") About us]
    block content
    footer#footer   
        |  Copyright &copy; WWW.mymeal.com. All rights reserved!   