extends base.pug

block scripts
  script(src='../static/script.js')
block style 
    style 
        include ../static/style.css
block content
    section#introsection 
        div Welcome to theInteriors  
        div.txt Find a design from our design gallery 
        div.txt or book a consultation with a dedicated design expert
    section#sponsorsection 
        h1 Our designs
        div#section
          div.box 
            
            img(src="../static/living.jpg", alt="")
            h3 Living room designs
          div.box 

            img(src="../static/bed1.jpg", alt="")
            <a href="http://www.google.com" target="_blank"><h3>Google</h2></a>
          div.box 

            img(src="../static/bath.jpg", alt="")
            h3  Living room designs         